/* POLICE D'ÉCRITURE */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: whitesmoke;
}
body{
  min-height: 100vh;
  background:rgb(32, 32, 32);
}
h1{
  font-size: 5rem;
}
p{
  font-size: 0.8rem;
}
nav li{
  list-style: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
ul{
  display: flex;
  justify-content: space-between;
  width:50%;
}
.header{
  display: flex;
  justify-content: space-around;
  margin: 30px auto;

}
.header-left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.header-right{
  width: 50%;
}
#modem{
  width:50%;
}
.header-left-container h3{
  color: rgb(61, 61, 251);
  font-size: 1.8rem;
}
.infos{
  display: flex;
  background: black;
  border-radius: 10px;
}
.infos-left{
  width: 33%;
}
.btn-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
button{
  margin: 5px;
  border: none;
  border-radius: 10px;
  background: rgb(61, 61, 251);
  letter-spacing: 1px;
  font-weight: bold;
  width: 40%;
  width: 150px;
}
h3{
  width:60%;
}
.infos-right{
  width: 67%;
}

.investors{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.img-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.img-container img{
  height: 60px;
}
